<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link type="text/css" rel="stylesheet" href="./index.css" />
        <title>小猪猪表白记</title>
    </head>

    <body>
        <div class="container">
            <div class="bar">小猪猪和男神日常</div>
            <div class="item male">有新功能<span>：男&nbsp;&nbsp;神</span></div>
            <div class="item male">句有料<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>不玩qq，天天关注新功能</div>
            <div class="item male">刚看到的<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>干啥的</div>
            <div class="item male">你qq里有钱吗<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>没有</div>
            <div class="item female"><span>小猪猪：</span>怎么了</div>
            <div class="item male">我里面没钱，有钱了让你体验下<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>好玩吗</div>
            <div class="item male">就是一句话给你发固定的钱<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>聊天收费咯</div>
            <div class="item male">聊天送钱<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>没说一句话就得发钱</div>
            <div class="item female"><span>小猪猪：</span>每</div>
            <div class="item female"><span>小猪猪：</span>哈哈哈</div>
            <div class="item male">嗯<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>这个功能好</div>
            <div class="item male">开通后好像是双方的，不能只接收<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item male">不是双方的，开通后发送就必须有钱<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>不然就发不出么</div>
            <div class="item female"><span>小猪猪：</span>厉害</div>
            <div class="item female"><span>小猪猪：</span>我这就没有</div>
            <div class="item male">电＋里面的<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item male">新版本有吧<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>不知道，可能吧</div>
            <div class="item male">嗯，吃饭吧<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>你吃啥去</div>
            <div class="item male">不知道<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item male">看看去<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item male">我吃点肉去<span>男&nbsp;&nbsp;神：</span></div>
            <div class="item female"><span>小猪猪：</span>嗯</div>
            <div class="item female"><span>小猪猪：</span>多吃点</div>
        </div>
    </body>

</html>
